<% layout("/layouts/boilerplate.ejs") %>
<body>
    <!-- <form method="GET" action="/listing/new">
        <button>Create New Listing</button>
    </form> -->
    <h3>All listings</h3>
    <ul>
    <% for (listing of alllisting){ %>
       <li> <a href="/listing/<%= listing._id %> "> <%= listing.title %></a></li>
    <% } %></ul>
</body>