<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New </title>
</head>
<body>
    <form action="/listing" method="post">
        <input type="text" name="listing[title]" placeholder="Enter Title">
        <input type="text" name="listing[description]" placeholder="Enter description">
        <input type="text" name="listing[image]" placeholder="Enter image url">
        <input type="number" name="listing[price]" placeholder="Enter price">
        <input type="text" name="listing[location]" placeholder="Enter location">
        <input type="text" name="listing[country]" placeholder="Enter country">
        <button>Submit</button>
    </form>
</body>
</html>